:root {
    --bg-odd: #808B8C;
    --bg-odd-split: 128, 139, 140;
    --bg-even: #96A4A5;
    --border-color: #2D3644;
}

.flex-container-r, .flex-container-c, .flex-container-d {
    display: flex;
    justify-content: space-between;
}

.flex-container-r {
    flex-direction: row;
}

.flex-container-c {
    flex-direction: column;
}

.flex-container-d {
    flex-direction: row;
}

@media (max-aspect-ratio: 1/1) {
    .flex-container-d {
        flex-direction: column;
    }
}

.title-border {
    position: absolute;
    top: 3.5vw;
    bottom: calc(4vh + 10px);
    left: 2vw;
    right: 2vw;

    box-sizing: border-box;
    border: 2px solid var(--border-color);
    z-index: -1;
}

.next-page-arrow {
    height: 8vh;
    margin: 10px;
    background-color: var(--bg-odd);
}

/*
Used for mobile for when the address or bottom bar is shown.
I considered using dvh instead for background,
but I didn't like how the elemnts shifted as you scrolled.
*/
@media (max-aspect-ratio: 1/1) {
    .next-page-arrow {
        margin-bottom: 20vh;
    }
    .title-border {
        bottom: 24vh;
    }
}

.account-link {
    font-size: 3em;
    text-align: center;
    margin-left: 0 5%;
    /* don't change color when clicked */
    color: blue;
}

.portfolio-arrow {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    width: 5vw;
    right: -100vw;
    z-index: 1;
}

.portfolio-div {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 100vh;
    justify-content: center;
}

.portfolio-div>div {
    width: 96%;
    height: 56%;
    padding: 2%;
    border: 2px solid var(--border-color);
}

.portfolio-div>div>video {
    width: 100%;
    height: 100%;
}

.portfolio-div>p {
    background-color: var(--bg-even);
    position: relative;
    margin: 0px;
    width: 90%;
    left: 4%;
    bottom: 1.5%;
    padding: 1%;
    font-size: 1.5em;
}

@media (max-aspect-ratio: 1/1) {
    .portfolio-div {
        width: 95vw;
        left: 2.5;
    }
    .portfolio-arrow {
        top: 75vh;
        width: 10vw;
    }
    .portfolio-div>div {
        width: 100%;
        height: 66vh;
        padding: 2vh 0;
        border: none;
    }

    .portfolio-div>p {
        width: 75%;
        height: 30vh;
        left: 0;
        bottom: 0;
        padding: 0 12.5%;
    }
}

.min-portfolio-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.min-portfolio-item {
    display: flex;
    flex-flow: column;
    width: 25vw;
    margin: 2vw;
    background-color: var(--bg-even);
    padding: 5px;
    filter: drop-shadow(5px 5px var(--border-color));
}

.min-portfolio-item>p {
    font-size: 1.25em;
}

@media (max-aspect-ratio: 1/1) {
    .min-portfolio-item {
        width: 90vw;
    }
    .min-portfolio-item>p {
        font-size: 1.5em;
    }
}

.loading-display {
    background-color: #E8f60A;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 10vw;
    padding-top: 5%;
    z-index: 10;
}

.portfolio-strip {
    height: 200px;
    position: relative;
    z-index: -3;
}

.strip-fade-left, .strip-fade-right {
    position: absolute;
    height: 200px;
    width: 8vw;
    z-index: -2;
}

.strip-fade-left {
    background-image: linear-gradient(
        to right,
        rgba(var(--bg-odd-split), 1),
        rgba(var(--bg-odd-split), 1),
        rgba(var(--bg-odd-split), 0)
    );
    left: 0;
}
.strip-fade-right {
    background-image: linear-gradient(
        to left,
        rgba(var(--bg-odd-split), 1),
        rgba(var(--bg-odd-split), 1),
        rgba(var(--bg-odd-split), 0)
    );
    right: 0;
}

div.background {
    min-height: 100vh;
    height: auto;
    background-color: var(--bg-odd);
    margin: 0px;
    position: relative;
    z-index: 1;
}
div.background:nth-child(even) {
    background-color: var(--bg-even);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #303030;
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: 0;
}

h1 span {
    background-color: var(--bg-odd);
    padding: 10px;
    font-size: 7vw;
}

@media (max-aspect-ratio: 1/1) {
    h1 span {
        font-size: 15vw;
    }
    .title-border {
        top: 7.5vw;
    }
}

h3 {
    text-align: center;
    font-size: 2em;
}
