.flex-container-r, .flex-container-c, .flex-container-d {
    display: flex;
    justify-content: space-between;
}

.flex-container-r {
    flex-direction: row;
}

.flex-container-c {
    flex-direction: column;
}

.flex-container-d {
    flex-direction: row;
}

@media (max-aspect-ratio: 1/1) {
    .flex-container-d {
        flex-direction: column;
    }
}

.next-page-arrow {
    height: 20vh;
    margin: 10px;
}

/*
Used for mobile for when the address or bottom bar is shown.
I considered using dvh instead for background,
but I didn't like how the elemnts shifted as you scrolled.
*/
@media (max-aspect-ratio: 1/1) {
    .next-page-arrow {
        margin-bottom: 20vh;
    }
}

.account-link {
    font-size: 3em;
    text-align: center;
    margin-left: 0 5%;
}

.portfolio-arrow {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    width: calc(10vw - 40px);
    right: -100vw;
}

.portfolio-div {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 100vh;
    justify-content: center;
}

.portfolio-vid {
    width: 100%;
    max-height: 60%;
}

.min-portfolio-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.min-portfolio-item {
    display: flex;
    flex-flow: column;
    width: 20em;
    max-width: 20em;
    margin: 2vw;
}

.loading-display {
    background-color: #E8f60A;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 10vw;
    padding-top: 5%;
    z-index: 10;
}

.portfolio-strip {
    height: 200px;
    position: relative;
}

div.background {
    min-height: 100vh;
    height: auto;
    background-color: #E0E0E0;
    margin: 0px;
    position: relative;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #303030;
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: 0;
}

h3 {
    text-align: center;
}
